# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Downloaded images and saved drone detections
drones/

# Large model files
*.pt

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env

# Media files for testing
*.mp4
*.avi
*.mov 